.formulario{
	margin:auto;
	max-width: 400px;
	padding: 16px;
	background: #F7F7F7;
	border:1px solid #666666;
	box-shadow: 0  0 2px #666666;
	margin-top: 10%;

}
.campos-inputs{
	display: block;
	width: 100%;
	box-shadow: 0 0 1px #6666ff;
	padding: 2%;
	border: 1px solid #6666ff;
	margin-bottom: 2%;
}
.campos-inputs-submits{

	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color:white;
	padding:2%;
	background-color: #6666ff;
	width: 100%;
	border-style: none;
	border-bottom: 2px solid #000066;


}
.campos-inputs-submits:hover{
	background-color: #00001a;
}
.Titulo{
	color: #6666ff;
	text-align: center;
	font-weight: 400px;
	padding-bottom: 4%; 
}
.Esqueceu{
	text-decoration: none;
	color: #666666;
	margin-bottom: 2%;
}
.Esqueceu:hover{
	color:lightgreen;
}